[submodule "json-schema-validator"]
	path = json-schema-validator
	url = https://github.com/pboettch/json-schema-validator
[submodule "nlohmann_json_cmake_fetchcontent"]
	path = nlohmann_json_cmake_fetchcontent
	url = https://github.com/ArthurSonzogni/nlohmann_json_cmake_fetchcontent
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
